<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="processos" 
         providerName="System.Data.SqlClient" 
         connectionString="Server=dc388614-96cd-40f3-8a65-a7a700f39ca9.sqlserver.sequelizer.com;Database=dbdc38861496cd40f38a65a7a700f39ca9;User ID=whvcnykirkddzopg;Password=xUhxVZd6P7qmpsaWqHCpydFbTFUuvvTdAwo4W6Fbp4xGQmfwytZvdvXungLpfRHs;"/>
  </connectionStrings>
</configuration>